python:
   version: 3.7
   install:
      - method: pip
        path: .
        extra_requirements:
           - docs
	  - method: pip
	    path: ipykernel
	  - method: pip
		path: nbsphinx
      - method: setuptools
        path: package
		
sphinx:
  builder: html
  configuration: conf.py
  fail_on_warning: true