python:
   version: 3.7
   install:
      - method: pip
        path: .
        extra_requirements:
           - docs
	  - method: pip
	    path: ipykernel
	  - method: pip
		path: nbsphinx
      - method: setuptools
        path: package